<h1 mat-dialog-title>Tárgy</h1>
<div mat-dialog-content>
    <p>Mi a tárgy neve?</p>
    <mat-form-field appearance="fill">
        <mat-label>Tárgy neve:</mat-label>
        <input matInput [(ngModel)]="data.subjectName" (blur)="update()" (keyup.enter)="update()">
    </mat-form-field>
    <p>Milyen hosszú?</p>
    <mat-form-field appearance="fill">
        <mat-label>Tárgy hossza (m):</mat-label>
        <select matNativeControl [(ngModel)]="data.subjectLength" name="valueMeter" (blur)="update()" (keyup.enter)="update()">
            <option value="selectedMeter" selected></option>
            <option *ngFor="let valueMeter of valueMeters" [value]="valueMeter.value">
            {{valueMeter.viewValue}}
            </option>
            </select>
    </mat-form-field>
    <p>Milyen széles?</p>
    <mat-form-field appearance="fill">
        <mat-label>Tárgy szélessége (m):</mat-label>
        <select matNativeControl [(ngModel)]="data.subjectWidth" name="valueMeter" (blur)="update()" (keyup.enter)="update()">
            <option value="selectedMeter" selected></option>
            <option *ngFor="let valueMeter of valueMeters" [value]="valueMeter.value">
            {{valueMeter.viewValue}}
            </option>
            </select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Mégse</button>
    <button mat-button (click)="onSaveClick(data.id, data.subjectName, data.subjectLength, data.subjectWidth)" cdkFocusInitial>Mentés</button>
</div>