<h1 mat-dialog-title>Raktár</h1>
<div mat-dialog-content>
    <p>Mi a raktár címe?</p>
    <mat-form-field appearance="fill">
        <mat-label>Raktár címe:</mat-label>
        <input matInput [(ngModel)]="data.warehouseAddress" (blur)="update()" (keyup.enter)="update()">
    </mat-form-field>
    <p>Milyen hosszú?</p>
    <mat-form-field appearance="fill">
        <mat-label>Raktár hossza (m):</mat-label>
        <select matNativeControl [(ngModel)]="data.warehouseLength" name="valueMeter" (blur)="update()" (keyup.enter)="update()">
            <option value="selectedMeter" selected></option>
            <option *ngFor="let valueMeter of valueMeters" [value]="valueMeter.value">
            {{valueMeter.viewValue}}
            </option>
            </select>
    </mat-form-field>
    <p>Milyen széles?</p>
    <mat-form-field appearance="fill">
        <mat-label>Raktár szélessége (m):</mat-label>
        <select matNativeControl [(ngModel)]="data.warehouseWidth" name="valueMeter" (blur)="update()" (keyup.enter)="update()">
            <option value="selectedMeter" selected></option>
            <option *ngFor="let valueMeter of valueMeters" [value]="valueMeter.value">
            {{valueMeter.viewValue}}
            </option>
            </select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Mégse</button>
    <button mat-button (click)="onSaveClick(data.id, data.warehouseAddress, data.warehouseLength, data.warehouseWidth)" cdkFocusInitial>Mentés</button>
</div>